// Here you can add other styles

.rowExpand{

    font: 15px caption, sans-serif;
    
}

.rowExpand label{
    height:auto;
    width:30px;
    margin-bottom: 5px;
    margin-top:2px;
    
}

.rowExpand span{
    height:auto;
    width:auto;
}

.rowExpand .row{
    margin: 2px;

}
